<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      Inventario
    </button>
    <button mat-button routerLink="/product-maintenance">
      <mat-icon>build</mat-icon>
      <mat-label>Añadir/Actualizar productos</mat-label>
    </button>
    <button mat-button (click)="goToCheckout()">
      <mat-icon [matBadge]="cartItems">shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
