<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title *ngIf="product">
            {{product.name || ''}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="product">
          <mat-list role="list">
            <mat-list-item role="listitem">Precio: {{product.price || '0.00'}}</mat-list-item>
            <mat-list-item role="listitem">Cantidad disponible: </mat-list-item>
            <mat-list-item role="listitem">Fecha de expiración: {{product.expirationDate || ''}}</mat-list-item>
            <mat-list-item role="listitem">Garantía: {{product.warranty || ''}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <button mat-raised-button (click)="addToCart()"> add to cart</button>
    </div>
    <div class="col-md-6">
      <img class="img-thumbnail w-100 h-75" [src]="'../../assets/' + getImageToUse()">
    </div>
  </div>
</div>
