<div class="container">
    <mat-form-field appearance="outline" class="d-block"  *ngIf="product._id">
      <mat-label>Id</mat-label>
      <input matInput disabled [value]="product._id">
    </mat-form-field>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" [(ngModel)]="product.name">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Cantidad</mat-label>
          <input matInput placeholder="Cantidad" [(ngModel)]="product.quantity">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Precio</mat-label>
          <input matInput placeholder="Precio" [(ngModel)]="product.price">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Precio minimo</mat-label>
          <input matInput placeholder="Precio minimo" [(ngModel)]="product.minPrice">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Precio maximo</mat-label>
          <input matInput placeholder="Precio maximo" [(ngModel)]="product.maxPrice">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Fecha de expiración (Opcional)</mat-label>
          <input  matInput [matDatepicker]="expirationDatePicker" placeholder="Fecha de expiración (Opcional)" [value]="product.expirationDate" disabled>
          <mat-datepicker-toggle matSuffix [for]="expirationDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #expirationDatePicker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Garantía (Opcional)</mat-label>
          <input  matInput [matDatepicker]="warrantyDatePicker" placeholder="Garantía (Opcional)" [value]="product.warranty" disabled>
          <mat-datepicker-toggle matSuffix [for]="warrantyDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #warrantyDatePicker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <button mat-raised-button (click)="save()" color="primary" [disabled]="!product">
          Guardar cambios
        </button>
      </div>
    </div>
</div>
